.modal_close_button {
    position: absolute;
    right: 2rem;
    top: 2rem;
    padding: 1.2rem 1.6rem;
    color: rgb(37, 37, 37);
    background-color: #f7f7f7;
    border-radius: 100px;
    z-index: 10;
    border: none;
    font-weight: 700;
    font-size: 2rem;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.modal_close_button:hover {
    color: grey;
    cursor: pointer;
}

@media (min-width: 681px) {


}