
.side_bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    overflow-y: auto;
}

/* DETAIL */

.side_bar .detail {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.side_bar .image {
    width: 16rem;
    height: 16rem;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.side_bar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.name, .major {text-align: center;}
.name {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: .8rem;
}
.major {
    font-size: 1.6rem;
    font-weight: 400;
    color: #404040;
    background-color: #dbeafe;
    border-radius: 100px;
}

.major a {
    display: flex;
    flex-direction: row !important;
    gap: .4rem;
    align-items: center;
    justify-content: center;
}

/* CONTACT */
.contact_info{
    padding: 1.2rem;
    background-color: #dbeafe;
    color: #404040;
    border-radius: 1.6rem;
    line-height: 3.5rem;
}

.side_bar svg {
    fill: #0284c7;
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}

/* SOCIAL */

.side_bar .social {
    display: grid;
    row-gap: 1.2rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
}

.side_bar .social a {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: 1.6rem;
    font-weight: 500;
    align-items: center;
}



@media (max-width: 680px) {

    .top_nav {
        background-color: #0284c7;
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        padding: 12px;
        display: flex;
        gap: 1rem;
        justify-content:  flex-start;
        align-items: center;
    }

    .top_nav svg, .top_nav img {
        fill: #f7f7f7;
        width: 40px;
        height: 40px;
        vertical-align: middle;
    }
    .top_nav img{border-radius: 50%;box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);}
    .top_nav .title {display: flex;flex-direction: column;justify-content: center;line-height:2.4rem;}
    .top_nav .my_name{color: #f7f7f7;font-size: 2rem;font-weight: 500;}
    .top_nav .sub_title{color: #f7f7f7;font-size: 1.4rem;font-weight: 400;}
    .top_nav .menu_icon {margin-left: auto;}
    .side_bar {
        position: fixed;
        top:0;
        left: 0;
        width: 80%;
        height: 100%;
        visibility: hidden;
        z-index: 10;
        transition: all .3s;
        padding: 3rem 2rem;
        background-color: #eff6ff;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }
    .side_bar.show_nav {
        display: flex;
        left: 0;
        opacity: 1;
        visibility: visible;
    }
    
    .side_bar.hide_nav {
        visibility: hidden;
        left: -100%;
        opacity: 0;
    }


    
.side_bar .detail {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.side_bar .image {
    width: 16rem;
    height: 16rem;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

/* 
.name {
    font-size: 2.4rem;
}
.major {
    font-size: 1.2rem;
}

.side_bar .social a, .side_bar a {
    font-size: 1.2rem;
} */


}
@media (min-width: 681px) {
    .top_nav {
        display: none;
    }
    
}