
.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    row-gap: 2rem;
    align-items: flex-start;
    padding: 0 2rem;
  }

  .skill_category {
    margin-bottom: 2rem;
  }

  .skills h4 {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .skills h3 {
    font-weight: 500;
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }

  .skill {
    display: flex;
    flex-direction: column;
  }

  .skill .progress_container{
    background-color: rgb(216, 216, 216);
    border-radius: 100px;
  }
  .skill .progress {
    background-color: #0284c7;
    height: 100%;
    border-radius: 100px;
    text-align: center;
    color: #f7f7f7;
  }