.top_nav {
    list-style-type: none;
    display: flex;;
    border-radius: 1.2rem;
    padding: 1.6rem 3rem;
}

.top_nav li{
    transition: font-size .3s;
}

.top_nav a {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.top_nav li a:link, .top_nav li a:visited {
    padding: .4rem 1.2em;
    font-size: 2rem;
    text-decoration: none;
}

.top_nav li a:hover, .top_nav li a:active {
    text-shadow: 0px 0px 1px rgb(147, 197, 253);
}

.top_nav li.active {
    
}

.top_nav li.active a {
    box-shadow: 0px 2px 0px 0px #0284c7;
}

.top_nav.show_nav {
    display: flex;
}
.top_nav.hide_nav {
    display: none;
}

@media (max-width: 1030px) {
    .top_nav li a:link, .top_nav li a:visited {
        font-size: 2rem;
        text-decoration: none;
    }
    
    .top_nav {
        justify-content: space-around;
    }
}

@media (max-width: 680px) {

    .top_nav {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: white;
        top: 0;
        left: 0;
        z-index: 100;
    }
}