
/* SCROLLBAR */

/* width */
.scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .3); 
  border-radius: 10px;
}
 
/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: rgb(133, 133, 133); 
  border-radius: 10px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #1f1f1f; 
}

/* LINKS */

.link:link, .link:visited {
    color: #0284c7;
    text-decoration: none;
    transition: all .2s;
}

.link:hover, .link:active {
  text-shadow: 0px 0px 1px rgba(17, 0, 255, 0.5);
}

.main_title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.card {
  box-shadow: 0px 0px 4px rgb(75, 85, 99, .3);
  border-radius: 1.6rem;
  overflow: hidden;
}
.what_i_am {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.what_i_am svg{
  width: 2.4rem;
  height: 2.4rem;
}
.what_i_am div {
  border: 1px solid rgb(75, 85, 99, .3);
  border-radius: 1.6rem;
  padding: 1.6rem;
  margin-bottom: 1.2rem;
  overflow: hidden;
}

/* EDUCATION */

.course_name {
  font-weight: 500;
  padding-bottom: 1.2rem;
  font-size: 1.8rem;
}
.course_name svg {vertical-align: middle;width: 2rem;height: 2rem;margin-right: .6rem;}
.small_box {
  font-size: 1.4rem;
  border-radius: 100px;
  background-color: #f1f1f1;
  /* color: #818181;
  border: 1px solid #818181; */
  padding: 0 1.6rem;
  display: inline-block;
  margin: .8rem .8rem .8rem 0;
}
.small_box svg {width: 1.6rem;height: 1.6rem;vertical-align: middle; margin-right: .4rem;}
.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.grid_2 .card{
  padding: 2rem;
  box-shadow: 0px 0px 4px rgb(75, 85, 99, .3);
  border-radius: 1.6rem;
  overflow: hidden;
}

.card_basic{
  padding: 2rem;
  border: 1px solid #4b55634d;
  border-radius: 1.6rem;
  overflow: hidden;
}

/* .red {background-color: rgb(180, 65, 65);}
.green {background-color: rgb(67, 170, 67);}
.blue {background-color: rgb(62, 111, 175);}
.orange {background-color: rgb(196, 147, 56);}
.pink {background-color: rgb(179, 69, 173);}
.pink {background-color: rgb(179, 69, 173);}
.yellow {background-color: rgb(168, 167, 61);} */

@media (max-width: 1030px) {
  .grid_2 {
    grid-template-columns: 1fr;
  }
}

.article {
  padding: 2.4rem 0;
}

.pad_2 {
  padding: 1.6rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}
.project_skills{text-align: center;}
.project_skills span {
  display: inline-block;
  font-size: 1.4rem;
  padding: 0rem 1.6rem;
  background-color: #e7e7e7;
  color: #4d4d4d;
  border-radius: 100px;
  margin: .8rem;
  margin-top: 0;
}
.projects img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  border-radius: 1.6rem;
  overflow: hidden;
}

.project {
  padding: 1.2rem;
}

.project p {
  text-align: center;
  font-size: 2rem;
  padding: 1.2rem;
  font-weight: 500;
}


/* MODAL */

.modal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  overflow: hidden;
}

.modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden
}

@media (max-width: 681px) {
  .modal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    overflow: hidden;
  }

  .project_detail {
    align-items: center;
    padding: 1rem !important;
    margin: 1rem !important;
  }

}

.project_detail {
  display: grid;
  gap: 3rem;
  padding: 3rem;
  margin: 3rem;
  border-radius: 1.6rem;
  grid-template-columns: 1fr;
  background-color: white;
}

.project_detail img {
  max-width: 100%;
  justify-items: center;
  border-radius: 1.6rem;
}

.project_detail div {text-align: center;}

.project_detail div a {
  background-color: #0284c7;
  padding: .4rem 1.6rem;
  text-decoration: none;
  color: #f7f7f7;
  display: inline-block;
  margin: 1.2rem;
  border-radius: 100px;
}
.project_detail div a:hover {
  opacity: .9;
  cursor: pointer;
}

@media (max-width: 680px) {

  .what_i_am {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .card {
    box-shadow: none;
    border-radius: 0;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .project {
    padding: 2rem;
    box-shadow: 0px 0px 4px rgb(75, 85, 99, .3);
    border-radius: 1.6rem;
    overflow: hidden;
  }
}
